# Python
__pycache__/
*.pyc

# Среда разработки / Виртуальное окружение
venv/
env/
.env

# Системные файлы ОС
.DS_Store
Thumbs.db

# Файлы данных приложения (если не хотите хранить историю расходов в репозитории)
data.json

# Файлы сборки / Дистрибуции (если будут использоваться в будущем)
dist/
build/